<div class="d-flex container info-start">
    <div class="col-lg-6 d-sm-none d-md-block d-none d-sm-block d-md-none d-lg-block">

        <app-banner-default welcome='¡Alquiler de naves!' title='Alquila una nave' message='¡Empieza el viaje interestelar de tus sueños!' image='@../../assets/img/aeronave.png'></app-banner-default>

    </div>

    <!-- login -->
    <div class="col-lg-6 col-md-12 col-sm-12 col-12 d-flex justify-content-center">
        <app-login-default></app-login-default>
    </div>
</div>