<form [formGroup]="formRegister" (ngSubmit)="submitRegister()" class="mt-3 cont-form-register py-5 px-4 mb-3 position-relative col-12">
    <img class="position-absolute" src="@../../assets/img/astro-1.png" alt="astronauta!" height="220px">
    <div class="mt-5 position-relative">
        <span *ngIf="campoNovalido('name')" class=" text-danger" class="errorForm">
            Campo obligatorio
        </span>
        <input type="text" formControlName="name" required="required" placeholder="Nombres" class="form-control login">


    </div>
    <div class="position-relative">
        <span *ngIf="campoNovalido('last_name')" class="form-text text-danger" class="errorForm">
        Campo obligatorio
        </span>
        <input type="text" formControlName="last_name" required="required" placeholder="Apellidos" class="form-control login">

    </div>
    <div class="position-relative">
        <span *ngIf="campoNovalido('email')" class="form-text text-danger" class="errorForm">
            Campo obligatorio
        </span>
        <input type="email" formControlName="email" required="required" placeholder="Correo" class="form-control login">


    </div>
    <div class="position-relative">
        <span *ngIf="campoNovalido('password')" class="form-text text-danger" class="errorForm">
            Campo obligatorio
        </span>
        <input type="password" formControlName="password" required="required" placeholder="Contraseña" class="form-control login">


    </div>
    <div class="form-check form-switch">
        <input type="checkbox" formControlName="condition" required="required" class="form-check-input" id="flexSwitchCheckChecked" checked>
        <p class="text-light">Acepto los terminos y condiciones</p>
    </div>
    <button [disabled]="formRegister.invalid" class="btn btn-primary col-12 login">Enviar</button>
</form>