<div class="d-flex container info-start">
    <div class="col-lg-6 d-sm-none d-md-block d-none d-sm-block d-md-none d-lg-block">

        <app-banner-default welcome='¡Woow!' title='Cada vez más listo para tu viaje' message='¡Completa el registro y viaja con Big Travel!' image='@../../assets/img/aeronave.png'></app-banner-default>

    </div>

    <!-- register -->
    <div class="col-lg-6  col-sm-12 col-12 d-flex justify-content-center">
        <app-register-default (changeForm)=register($event)></app-register-default>
    </div>
</div>