<!-- <div class="content" id="main"> -->
<div>
    <div class="d-grid gs-1 g-gap-3 mb-3">
        <h1><b>Alquilar Nave</b></h1>
    </div>
    <div class="d-grid gs-1 g-gap-3 mb-3">
        <div class="card px-2">
            <div class="subtitle">
                <h4>
                    <b>Agenda tu viaje</b>
                </h4>
            </div>
            <div class="row">
                <div class="cont-form col-12 col-md-12 mt-4">
                    <form>
                        <div class="form-group input-group">
                            <span class="has-float-label">
                                <label class="mb-0 ml-4" for="">¿A donde vas?</label>
                            <input class="form-control form-input border-radius-tl border-radius-bl border-radius-br-none border-radius-lr-none" id="first" type="text" placeholder="Neptuno" autocomplete="off"/>
                          </span>
                            <label class="has-float-label">
                            <span>Fecha LLegada</span>
                            <input class="form-control form-input border-radius-none" type="text" placeholder="21/10/2030"/>
                          </label>
                            <label class="has-float-label">
                            <span>Fecha Salida</span>
                            <input class="form-control form-input border-radius-none" type="text" placeholder="21/10/2030"/>
                          </label>
                            <label class="has-float-label">
                            <span>Cantidad Pasajeros</span>
                            <input class="form-control form-input border-radius-none" type="text" placeholder="8"/>
                          </label>
                            <label class="has-float-label">
                                <button type="button" class="mt-4 form-input btn btn-orange  border-radius-bl-none border-radius-br border-radius-tr" style="padding: 1.22em;"><i class="fas fa-save "></i> Guardar</button>
                          </label>
                        </div>
                    </form>
                </div>
                <div class="cont-form col-12 col-md-4">
                    <div class="d-flex">
                        <div class="p-1 bg-white rounded mt-4 w-75">
                            <img class="img-fluid" src="https://cdn.forbes.com.mx/2021/05/Nave-espacial-Dream-Chaser-e1620856857225.jpg" alt="">
                        </div>
                        <div class="content-travel mt-3 ml-3">
                            <h5><b>Aeronave 25tw</b></h5>
                            <span> Max. Pasajeros: 8</span><br>
                            <span> Velocidad Max.: 25km/h</span><br>
                            <span>Piloto: Andres Jimenez</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>