<div class="d-grid gs-1 g-gap-3 mb-3">
    <h1>Naves</h1>
</div>
<div class="d-grid gs-1 g-gap-3 mb-3">
    <!-- <div class="card card-chart"> -->
    <div class="table-responsive card">
        <table class="w-100 table table-border table-hover">
            <thead class="thead-dark ">
                <tr>
                    <th scope="col pl-5">CÓDIGO</th>
                    <th scope="col pt-5">DESTINO</th>
                    <th scope="col pt-5">FECHA LLEGADA</th>
                    <th scope="col pt-5">FECHA REGRESO</th>
                    <th scope="col pt-5">VALOR</th>
                    <th scope="col pt-5">ESTADO</th>
                    <th scope="col pt-5">ACCIONES</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td><span class="badge badge-teal">Activo</span></td>
                    <td><i class="fas fa-pencil-alt"></i></td>
                </tr>
                <tr>
                    <td>Jacob</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td><i class="fas fa-pencil-alt"></i></td>
                </tr>
                <tr>
                    <td>Larry</td>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td><i class="fas fa-pencil-alt pointer"></i></td>

                </tr>
                <tr>

                    <td>Larry</td>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td><i class="fas fa-pencil-alt"></i></td>

                </tr>
                <tr>

                    <td>Larry</td>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td><i class="fas fa-pencil-alt"></i></td>

                </tr>
            </tbody>
        </table>
    </div>
    <!-- </div> -->
</div>