<nav class="navbar">
    <div class="navbar-bar" id="content-buttons">
        <button id="boton-sidebar_left">
            <i class="fas fa-bars pointer"></i>
        </button>
        <button id="boton-sidebar">
            <i class="fas fa-bars pointer"></i>
        </button>
        <div class="navbar-bar_fixed">
            <button id="boton-sidebar_fixed">
                <i class="fas fa-bars pointer"></i>
            </button>
        </div>
        <img src="@../../assets/img/logo-white.png" alt="" style="width:15%" class="ml-4">

    </div>
    <div class="navbar-options">
        <app-checkbox-default></app-checkbox-default>
        <div class="photo">
            <img src="https://i.pinimg.com/originals/81/b5/fe/81b5feba274871b01edfbb07f0d59af6.jpg" alt="">
        </div>
        <i class="fas fa-power-off pointer" (click)="closeSesion()"></i>
    </div>
</nav>
<!-- navbar -->